﻿<center><h1 id="infoKorisnik">Korisnik nije prijavljen na sistem!</h1></center>
<center><p id="info"></p></center>
<center><button type="button" class="regprij" id="regIprij">Registracija i prijava</button></center>

<div class="row">
    <div class="col-md-5" style="display:none" id="registracijaDiv">
        <form method="post" action="post/"  id="registracija">
            <h3>Registracija korisnika</h3>
            <div class="form-group">
                <label>E-mail</label>
                <input  type="email" class="form-control" id="regEmail"/>
            </div>
            <div class="form-group">
                <label>Lozinka</label>
                <input type="password" class="form-control" id="regLozinka"/>
            </div>
            <div class="form-group">
                <label>Potvrdi lozinku</label>
                <input type="password" class="form-control" id="regLozinka2"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sm">Registracija</button>
            </div>
        </form>
    </div>
    <div class="col-md-5" style="display:none" id="prijavaDiv">
        <form method="post" action="post/" id="prijava">
            <center><h3>Registracija i prijava korisnika</h3></center>
            <div class="form-group">
                <label>E-mail</label>
                <input type="email" class="form-control" id="priEmail"/>
            </div>
            <div class="form-group">
                <label>Lozinka</label>
                <input type="password" class="form-control" id="priLozinka"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sm">Prijava</button>
            </div>
            <div class="form-group">
                <button type="button" class="reg" id="btnRegistracija">Registracija</button>
            </div>
        </form>
    </div>
</div>
<div class="row">   
      <center><button class="btnOdjava" id="odjava">Odjavi se</button></center>
</div>
<div class="col-md-5" style="display:none">
    <button class="btnPocetak" id="pocetak">Početak</button>
</div>

<div class="row">
    <br />
    <button type="button" id="nekretnine" style="display:none">Nekretnine</button>
    <div id="data">
    </div>
</div>
<br />
<div id="formDiv" style="display:none" class="form-group">
    <form method="post" action="post/" id="nekretnineForm">
        <p><label>Agent:  <input id="agentId" class="form-control"/></label></p>
        <p><label>Agencijska oznaka<input id="oznaka" class="form-control"/></label></p>
        <p><label>Mesto<input id="mesto" class="form-control"/></label></p>
        <p><label>Godina izgradnje<input id="godIzgradnje" class="form-control" type="number"/></label></p>
        <p><label>Kvadratura<input  id="kvadratura" class="form-control" type="number"/></label></p>
        <p><label>Cena<input id="cena" class="form-control" type="number"/></label></p>

        <p><button class="btn btn-sm">Izmena</button></p>
    </form>
</div>
<div id="filterDiv" style="display:none" class="form-group">
    <form method="post" action="post/" id="filterForm">
        <p><label>Kvadratura od:<input id="od" class="form-control"/></label></p>
        <p><label>Kvadratura do:<input id="do" class="form-control"/></label></p>
        <p><button class="btn btn-sm" id="filtetSubmit">Filter</button></p>
    </form>
</div>

@section Scripts{
    <script src="~/Scripts/Skripta.js"></script>
    }
